openapi: 3.0.3
info:
  title: "African Market OS-MVR API"
  version: "1.0.0"
  description: |
    The African Market OS-MVR API exposes AMOS, a relational risk and credit physics
    engine designed for high-context African markets.
    AMOS-MVR API measures *relational readiness* by combining financial signals with the
    Minimum Viable Relationships (MVR) framework: trust, belonging, embeddedness,
    permission, reciprocity, guardian vouchers, and cultural-market fit.
    At its core, the API estimates:
      - Residual Risk Score (RRS) on a 0–100 scale
      - Relational readiness (MVR-I) on a 0–100 scale
      - Relational porosity (Pz) – probability of leakage / default
      - Cash runway and liquidity state
      - Safe credit limits in local currency and USD
    The engine is optimized for African trade credit and fintech / FMCG corridors,
    but can be used in any context where *relational credit*, embeddedness and
    community guardianship matter as much as pure balance sheet strength.
    Licensing and Access
    --------------------
    - This API requires a valid MVR / AMOS license key.
    - To request access, visit: https://africanmarketos.com/get-access
    - Plans (indicative):
        • Standard: 5,000 calls / day, 300 calls / minute
        • Pro: 50,000 calls / day, 3,000 calls / minute
        • Enterprise: 500,000+ calls / day, 30,000 calls / minute (negotiated)
    Relational Readiness & MVR
    --------------------------
    MVR-I (Minimum Viable Relationships Index) is a composite index across:
      - Trust and reciprocity (do they pay, and do they reciprocate?)
      - Embeddedness (are they woven into local routines and ecosystems?)
      - Guardian vouchers (who will stand in the gap when things go wrong?)
      - Continuity and relationship longevity
      - Permission and cultural-market fit (do people want them in their space?)
    AMOS uses these relational signals to build a "relational shield" that partially
    contains base porosity (raw probability of credit leakage / default), and then
    overlays FX, cold-chain, and corridor physics.
    Usage Notes
    -----------
    - All amounts in the request and response are in *local currency*, unless an
      explicit USD conversion field is provided.
    - The canonical scoring endpoint is POST /v1/amos/score.
    - This OpenAPI spec describes the public surface only. Internal physics and
      calibration are frozen in the engine binary and not exposed.
  termsOfService: https://africanmarketos.com/african-market-os-mvr-framework-commercial-referral-use-policy/
  contact:
    name: African Market OS
    url: https://africanmarketos.com
    email: info@africanmarketos.com
  license:
    name: "CC BY 4.0 (Academic/Research Use)"
    url: https://creativecommons.org/licenses/by/4.0/
  x-commercialLicense: https://africanmarketos.com/african-market-os-mvr-framework-commercial-referral-use-policy/
  x-api-id: "amos-mvr-api-v1"
  x-framework-doi: "10.5281/zenodo.17310446"
  x-author-orcid: "0009-0009-8191-2098"
  x-plan-limits:
    standard:
      daily_limit: 5000
      per_minute_limit: 300
    pro:
      daily_limit: 50000
      per_minute_limit: 3000
    enterprise:
      daily_limit: 500000
      per_minute_limit: 30000
  x-legal-disclaimer: |
    Example payloads in this specification are illustrative and may be loosely inspired
    by public financial data from anonymous "anchor" entities (e.g. large telco, major
    beverage bottler, regional supermarket). They do NOT constitute credit ratings,
    investment advice, or formal opinions on any specific named issuer.
    AMOS outputs are sensitive to input assumptions and are provided for informational
    and operational decision-support only. They are not a substitute for independent
    credit, legal, or investment judgement.
externalDocs:
  description: "Minimum Viable Relationships (MVR) Framework (DOI)"
  url: https://doi.org/10.5281/zenodo.17310446
servers:
  - url: https://africanmarketos.com
    description: Production API Gateway
tags:
  - name: AMOS-MVR API
    description: >
      AMOS-MVR API relational risk scoring and safe credit limit computation. Measures
      relational readiness (MVR), residual risk, and relational porosity for African
      trade credit and embedded fintech.
  - name: Utilities
    description: Health and basic metadata / status utilities.
paths:
  /v1/amos/score:
    post:
      tags: [AMOS-MVR API]
      operationId: scoreAMOS
      summary: Compute AMOS relational risk score and safe credit limit
      description: |
        Scores an entity using AMOS Relational Porosity v9.x and the Minimum Viable
        Relationships (MVR) framework to produce:
          - Residual Risk Score (RRS)
          - Relational porosity (Pz)
          - MVR-I (relational readiness index)
          - Cash runway and liquidity state
          - Estimated safe credit limit (local + USD)
          - Recommended action (increase, reduce, maintain; freeze & recover)
        The engine is designed to be robust to thin or noisy data. Missing fields
        impact the DATA_COMPLETENESS_SCORE and may trigger a data-quality veto.
      security:
        - ApiKeyAuth: []
          BuyerEmail: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AMOSScoreRequest"
            examples:
              anchor_fintech_telco:
                summary: EA telco-fintech anchor (illustrative)
                value:
                  amos_id: "EA_TELCO_FINTECH_ANCHOR_2023"
                  name: "Tier-1 EA Telco & Mobile Money Anchor (Illustrative)"
                  sector: "FINTECH"
                  region: "EA"
                  revenue: 307142100000
                  expenses: 222142100000
                  cash: 22098100000
                  total_debt: 120881300000
                  arrears: 7000000000
                  revenue_growth: 0.106
                  days_silent: 1
                  occupancy_rate: 97
                  collection_rate: 97
                  guardian_endorsements: 8
                  number_of_customers: 46750000
                  number_of_suppliers: 1000
                  grant_dependency: 0.0
                  currency: "KES"
                  fx_exposed_debt: 40000000000
                  fx_rate: 130.0
                  fx_rate_12m_ago: 118.0
                  forward_cover: 15000000000
                  outage_hours_per_day: 2
                  diesel_share_opex: 0.08
                  current_credit_limit_local: 200000000000
                  mvr:
                    mvr_i: 83
                    embeddedness: 86
                    trust: 85
                    reciprocity: 79
                    guardian_vouchers: 82
                    continuity: 85
                    channel_permission: 80
                  unstructured_text: >
                    Pan-African telecom and mobile money operator with dominant
                    market share and strong customer stickiness; highly cash-generative
                    with no default history.
              fmcg_beverage_anchor:
                summary: Africa beverage bottler anchor (illustrative)
                value:
                  amos_id: "AFRICA_BEVERAGE_BOTTLER_ANCHOR_2024"
                  name: "Africa Beverage Bottler Anchor (Illustrative)"
                  sector: "FMCG_BEVERAGE"
                  region: "EA"
                  revenue: 2900000000000
                  expenses
